{% load static %}<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Generated Password</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/Form.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
<section class="getintouch">
    <div class="container modern-form">
        <div class="text-center">
            <h4 style="color: #212529;font-size: 33px;">Generated Password&nbsp;</h4>
            <hr class="modern-form__hr" style="width: 190px;">
            <div class="form-row">
                <div class="col col-contact">
                    <div class="form-group modern-form__form-group--padding-r">
                        <div class="line-box" style="margin: 0px;margin-top: 10px;">
                            <div class="form-group">
                                <input type="text" class="form-control form-control-lg" id="password"
                                       value="{{ password }}"/>
                                <div>
                                    <meter max="4" id="password-strength-meter" value="{{ pwStrength }}"></meter>
                                    <p id="password-strength-text">{{ strengthText }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col text-center">
                    <button class="btn btn-primary" onclick="window.location.reload();"
                            style="background: rgb(76,170,222); margin-right: 30px">
                        Get another Password
                    </button>
                    <button class="btn btn-primary" onclick="copy()" style="background: rgb(76,170,222);">
                        Copy Password
                    </button>
                </div>
            </div>
        </div>
        <div class="modern-form__form-container"
             style="padding: 10px;padding-top: 10px;padding-right: 0;padding-bottom: 0;padding-left: 0;"></div>
    </div>
</section>
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/zxcvbn/4.2.0/zxcvbn.js"></script>
<script>
    function copy() {
        var copyPassword = document.getElementById("password");
        copyPassword.select();
        copyPassword.setSelectionRange(0, 99999);
        document.execCommand("copy");
    }
</script>
</body>

</html>